


tagFirePHPBottomToolbar {
  -moz-binding: url("chrome://firephp/content/BottomToolbar/bindings.xml#tagFirePHPBottomToolbar");
  -moz-box-orient: vertical;
}

tagFirePHPBottomToolbarDropdownItem {
  -moz-binding: url("chrome://firephp/content/BottomToolbar/bindings.xml#tagFirePHPBottomToolbarDropdownItem");
  -moz-box-orient: vertical;
}



.firephp-panel-menu-spacer {
  padding: 5px;
}

.firephp-panel-menu-icon-disabled {
  background: url(chrome://firephp/skin/PoweredByFirePHP_v1.png) no-repeat bottom;
  height: 15px;
  width: 80px;
  margin-left: 8px;
  margin-bottom: 0px;
  -moz-opacity: 0.2;
}

.firephp-panel-menu-icon-enabled {
  background: url(chrome://firephp/skin/PoweredByFirePHP_v1.png) no-repeat bottom;
  height: 15px;
  width: 80px;
  margin-bottom: +3px;
}


#FirePHPSidebar_List listhead listheader {
  font-family: Arial;
  font-size: 11px;  
  font-weight: bold;
}

#FirePHPSidebar_List listitem listcell {
  font-family: Arial;
  font-size: 9px;  
  font-weight: plain;
}

.FirePHPSidebar_Toolbar_Button {
  font-family: Arial;
  font-size: 12px;  
  font-weight: plain;
}