
tagFirePHPBottomToolbar {
  -moz-binding: url("chrome://firephp/content/BottomToolbar/bindings.xml#tagFirePHPBottomToolbar");
  -moz-box-orient: vertical;
}

tagFirePHPBottomToolbarDropdownItem {
  -moz-binding: url("chrome://firephp/content/BottomToolbar/bindings.xml#tagFirePHPBottomToolbarDropdownItem");
  -moz-box-orient: vertical;
}

#idFirePHPSplitter {
  padding: 0px;
  margin: 0px;
  border: 0px;
  height: 5px;
  align: start;
  -moz-box-align: start;
  pack: start;
  -moz-box-pack: start;
  background: url(chrome://firephp/skin/FirePHPSplitterBackground.gif) repeat top;
}

#idFirePHPSplitterRequestFlowBox {
  position: relative;
  left: 311px;
  padding: 0px;
  margin: 0px;
  border: 0px;
  border-collapse: separate;
  border-left: 1px solid #404040;
  width: 150px;
  height: 6px;
  border-right-style: solid;
  border-right-width: 2px;
  -moz-border-right-colors: rgb(255,255,255) rgb(128,128,128);  
  background-color: #ECECEC;
}

#idFirePHPApplicationSplitter {
  padding: 0px;
  margin: 0px;
  border: 0px;
  height: 5px;
}

.FirePHP-VariablePanelLabel {
  margin: 0px;
  border: 0px;
  font-weight: bold;
  padding: 3px;
  padding-left: 5px;
  border-bottom: 1px solid #808080;
}
#idFirePHPVariableRequestLabel {
  background-color: #ECECEC;
  padding-top: 4px;
}

#idFirePHPVariableApplicationBox {
  border-left: 1px solid #404040;
  border-top: 1px solid #404040;
  width: 150px;
  min-width: 80px;
}
#idFirePHPVariableSessionBox {
  border-top: 1px solid #404040;
  width: 150px;
  min-width: 80px;
}
#idFirePHPVariableRequestBox {
  width: 150px;
  min-width: 80px;
}
#idFirePHPVariableWatchBox {
  border-top: 1px solid #404040;
  width: 150px;
  min-width: 80px;
}
#idFirePHPVariableViewerFrame {
  border-top: 1px solid #404040;
  border-bottom: 1px solid #808080;
  border-right: 1px solid #808080;
}
#idFirePHPConsoleFrame {
  border-bottom: 1px solid #808080;
}
#idFirePHPApplicationDeck {
  border-left: 1px solid #404040;
  border-top: 1px solid #404040;
}



.firephp-panel-menu-spacer {
  padding: 5px;
}

.firephp-panel-menu-icon-disabled {
  background: url(chrome://firephp/skin/PoweredByFirePHP_v1.png) no-repeat bottom;
  height: 15px;
  width: 80px;
  margin-left: 8px;
  margin-bottom: 3px;
  -moz-opacity: 0.2;
  margin-right: 8px;
}

.firephp-panel-menu-icon-enabled {
  background: url(chrome://firephp/skin/PoweredByFirePHP_v1.png) no-repeat bottom;
  height: 15px;
  width: 80px;
  margin-bottom: +3px;
}


#FirePHPSidebar_List listhead listheader {
  font-family: Arial;
  font-size: 11px;  
  font-weight: bold;
}

#FirePHPSidebar_List listitem listcell {
  font-family: Arial;
  font-size: 9px;  
  font-weight: plain;
}

.FirePHPSidebar_Toolbar_Button {
  font-family: Arial;
  font-size: 12px;  
  font-weight: plain;
}