
.firephp-panel-menu-spacer {
  padding: 5px;
}

.firephp-panel-menu-icon-disabled {
  background: url(chrome://firephp/skin/PoweredByFirePHP_v1.png) no-repeat bottom;
  height: 15px;
  width: 80px;
  margin-bottom: +3px;
  -moz-opacity: 0.2;
}

.firephp-panel-menu-icon-enabled {
  background: url(chrome://firephp/skin/PoweredByFirePHP_v1.png) no-repeat bottom;
  height: 15px;
  width: 80px;
  margin-bottom: +3px;
}


#FirePHPSidebar_List listhead listheader {
  font-family: Arial;
  font-size: 11px;  
  font-weight: bold;
}

#FirePHPSidebar_List listitem listcell {
  font-family: Arial;
  font-size: 9px;  
  font-weight: plain;
}