
html,
body,
#masterLayout,
#testsLayout {
  padding: 0px;
  margin: 0px;
  width: 100%;
  height: 100%;
  font-family: verdana,arial,helvetica,sans-serif;
  font-size: 90%;
}

html > body.main > div {
  padding: 10px;
}

#error {
  width: 600px;
  text-align: center;
  margin-top: 50px;
  padding: 20px;
  font-size: 120%;
  border: 3px solid red;
  background-color: #FBEEED;
}

#error a {
  color: red;
}

#masterLayout #headerPane {
  background-color: #80A7E8;
  padding: 0px;
  font-weight: bold;
  font-size: 120%;
  text-align: center;
  border-bottom: 1px solid #B7B7B7;
}


#menuAccordion {
  width: 200px;
  border-top: 0px;
  border-bottom: 0px;
}

#menuAccordion .dijitAccordionBody DIV {
  padding: 5px;
  padding-left: 15px;  
}

#menuAccordion .dijitAccordionTitle-selected {
  background: rgb(255, 234, 0);
}


#contentPane {
  margin: 0px;
  padding: 0px;
}

#contentIframe,
#testContentIframe {
  width: 100%;
  height: 100%;
  border: 0px;
}

#footerPane {
  background-color: #EEEEEE;
  padding: 5px;
  font-size: 90%;
  text-align: center;
  border-top: 1px solid #B7B7B7;
}

TABLE.footerTable TD,
TABLE.footerTable TD A {
  color: #bbbbbb;
  text-decoration: none;
}




/* ***** Tests ***** */

#testsLayout #headerPane {
  background-color: #bbbbbb;
  padding: 0px;
  font-weight: bold;
  font-size: 120%;
  text-align: center;
  border-bottom: 1px solid #B7B7B7;
}

#testsLayout #menuPane {
  width: 250px;
  border-right: 1px solid #bbbbbb;
}

#testsLayout #menuPane DIV {
  padding: 15px;
}
